@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.form {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
}

.input {
  width: 100%;
  padding: 5px 10px;
  border: 1px solid rgb(219, 219, 219);
  background-color: #fafafa;
  border-radius: 4px;
}

.input:focus {
  border: 1px solid rgb(0, 140, 255);
  outline: inherit;
}

.overlay {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.overlay label {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
}

.button {
  width: 100%;
  border: 1px solid #8f8f8f;
  border-radius: 4px;
  color: #383838;
  background-color: rgb(0, 140, 255);
  font-weight: bold;
  padding: 5px 0;
}

.button:hover {
  background-color: rgb(0, 140, 255);
  color: #fff;
}

.button:disabled {
  border-color: #8f8f8f;
  background-color: #fafafa;
  color: #8f8f8f;
}

.button1 {
  background-color: rgb(0, 140, 255);
}

.button1:hover {
  /* color: rgba(0, 0, 0, 0.87); */
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
    0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
  /* background-color: #e0e0e0; */
}
